@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: IBMPlexMono;
    src: url(/fonts/IBMPlexMono-Regular.ttf);
    font-weight: 'normal';
    font-display: 'swap';
  }

  @font-face {
    font-family: IBMPlexMono;
    src: url(/fonts/IBMPlexMono-Bold.ttf);
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: IBMPlexMono;
    src: url(/fonts/IBMPlexMono-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: IBMPlexSans;
    src: url(/fonts/IBMPlexSans-Regular.ttf);
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: IBMPlexSans;
    src: url(/fonts/IBMPlexSans-Bold.ttf);
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: IBMPlexSans;
    src: url(/fonts/IBMPlexSans-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
  }
}
